*.class

# Package Files #
*.war
*.ear

*.pydevproject
.project
.metadata
gen/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Local configuration file (sdk path, etc)
local.properties
ant.properties
build.xml
